<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World!!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!---google icons-->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <style>
        .box {
            width: 40px;
            height: 40px;
            border-radius: 70%;
            border: solid 1px black;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .feed_box {
            margin: 20px 0;
            border: solid 1px gray;
            background-color: white;
        }

        input:focus{
            outline:none
        }
    </style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light" style="position: fixed; width: 100%;">
        <div class="container-fluid" style="justify-content:space-between;flex-wrap: nowrap;min-width:900px">
            <a class="navbar-brand" href="#">
                <img style="object-fit:contain;width:100px" src="https://fontmeme.com/images/instagram-new-logo.png">
            </a>
            <input class="form-control me-2" style="width: 400px;" type="search" placeholder="Search" aria-label="Search">
            <div>  
                <span class="material-icons">home</span>
                <span class="material-icons-outlined">send</span>
                <span class="material-icons-outlined">add_box</span>
                <span class="material-icons-outlined">explore</span>
                <span class="material-icons-outlined">favorite_border</span>
            </div>
        </div>
    </nav>
    <div style="display: flex; flex-direction: row;text-align: center;justify-content: center;padding-top:70px;background-color:#FAFAFA;">
        <div style="width: 600px;height: 1000px;margin-right:256px;">
            <div class="feed_box">
                <div style="display: flex;flex-direction: row;align-items: center;margin: 20px;">
                    <div class="box">
                        <img class="profile" src="https://sir.kr/img/common/dow/ico2-dw06.svg">
                    </div>
                    <div>bang_climb_account</div>
                </div>
                <div> <img style="width:100%" src="https://pds.saramin.co.kr/company/logo/202003/02/q6jmkg_ld73-1eqsslh_logo.jpg"></div>
                <div style="margin:0 20px;display: flex;flex-direction: row;justify-content: space-between;">
                    <div>
                        <span class="material-icons-outlined">favorite_border</span>
                        <span class="material-icons-outlined">mode_comment</span>
                        <span class="material-icons-outlined">send</span>
                    </div>
                    <div>
                        <span class="material-icons-outlined">bookmark_border</span>
                    </div>
                </div>
                <div style="margin: 0 20px;text-align: left;font-size: 14px;"> Mr.Choonsik <b>외 16명</b>이 좋아합니다.</div>
                <div style="margin: 0 20px;text-align: left;font-size: 16px;"> bang_climb_account <b> 요세미티 등반하고 싶다.</b></div>
                <div style="margin: 0 20px;text-align: left;font-size: 14px;"> <b>Mr.Choonsik</b> 나도 같이 갈래</div>
                <div style="margin: 0 20px;text-align: left;font-size: 14px;"> <b>solb_climb_account</b> 나도 같이 갈래</div>

                <div style="border-top:1px solid gray;">
                    <input type="text" class="form-control" style="box-shadow: none;border:none" placeholder="댓글 달기..">
                </div>
            </div>
            <div class="feed_box">
                <div style="display: flex;flex-direction: row;align-items: center;margin: 20px;">
                    <div class="box">
                        <img class="profile" src="https://sir.kr/img/common/dow/ico2-dw06.svg">
                    </div>
                    <div>bang_climb_account</div>
                </div>
                <div> <img style="width:100%" src="https://pds.saramin.co.kr/company/logo/202003/02/q6jmkg_ld73-1eqsslh_logo.jpg"></div>
                <div style="margin:0 20px;display: flex;flex-direction: row;justify-content: space-between;">
                    <div>
                        <span class="material-icons-outlined">favorite_border</span>
                        <span class="material-icons-outlined">mode_comment</span>
                        <span class="material-icons-outlined">send</span>
                    </div>
                    <div>
                        <span class="material-icons-outlined">bookmark_border</span>
                    </div>
                </div>
                <div style="margin: 0 20px;text-align: left;font-size: 14px;"> Mr.Choonsik <b>외 16명</b>이 좋아합니다.</div>
                <div style="margin: 0 20px;text-align: left;font-size: 16px;"> bang_climb_account <b> 요세미티 등반하고 싶다.</b></div>
                <div style="margin: 0 20px;text-align: left;font-size: 14px;"> <b>Mr.Choonsik</b> 나도 같이 갈래</div>
                <div style="margin: 0 20px;text-align: left;font-size: 14px;"> <b>solb_climb_account</b> 나도 같이 갈래</div>

                <div style="border-top:1px solid gray;">
                    <input type="text" class="form-control" style="box-shadow: none;border:none" placeholder="댓글 달기..">
                </div>
            </div>
            <div class="feed_box">
                <div style="display: flex;flex-direction: row;align-items: center;margin: 20px;">
                    <div class="box">
                        <img class="profile" src="https://sir.kr/img/common/dow/ico2-dw06.svg">
                    </div>
                    <div>bang_climb_account</div>
                </div>
                <div> <img style="width:100%" src="https://pds.saramin.co.kr/company/logo/202003/02/q6jmkg_ld73-1eqsslh_logo.jpg"></div>
                <div style="margin:0 20px;display: flex;flex-direction: row;justify-content: space-between;">
                    <div>
                        <span class="material-icons-outlined">favorite_border</span>
                        <span class="material-icons-outlined">mode_comment</span>
                        <span class="material-icons-outlined">send</span>
                    </div>
                    <div>
                        <span class="material-icons-outlined">bookmark_border</span>
                    </div>
                </div>
                <div style="margin: 0 20px;text-align: left;font-size: 14px;"> Mr.Choonsik <b>외 16명</b>이 좋아합니다.</div>
                <div style="margin: 0 20px;text-align: left;font-size: 16px;"> bang_climb_account <b> 요세미티 등반하고 싶다.</b></div>
                <div style="margin: 0 20px;text-align: left;font-size: 14px;"> <b>Mr.Choonsik</b> 나도 같이 갈래</div>
                <div style="margin: 0 20px;text-align: left;font-size: 14px;"> <b>solb_climb_account</b> 나도 같이 갈래</div>

                <div style="border-top:1px solid gray;">
                    <input type="text" class="form-control" style="box-shadow: none;border:none" placeholder="댓글 달기..">
                </div>
            </div>
            
        </div>
        <div style="width: 400px;height: 1000px;position: fixed;left:62%">
            <div>
                <div style="display: flex;flex-direction: row;align-items: center;margin: 20px;">
                    <div class="box" style="width: 70px;height: 70px;">
                        <img class="profile" src="https://sir.kr/img/common/dow/ico2-dw06.svg">
                    </div>
                    <div style="margin-left: 10px;text-align: left;">
                        <div style="font-weight: bold;">
                            bang_climb_account
                        </div>
                        <div style="color: gray;">
                            Hoseok Jeong
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between;">
                <div style="font-weight: bold;color: gray;">
                    회원님을 위한 추천
                </div>
                <div>
                    <a href="#" style="color: black;font-weight: bold; text-decoration: none;">모두보기</a>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row">
                    <div class="box" style="width: 35px; height: 35px">
                        <img class="profile"
                             src="https://sir.kr/img/common/dow/ico2-dw06.svg">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;font-size: 14px">
                            solb_climb_account
                        </div>
                        <div style="color: gray;font-size: 14px">
                            나랑 같이 치킨 먹음
                        </div>
                    </div>
                </div>
    
                <div>
                    <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row">
                    <div class="box" style="width: 35px; height: 35px">
                        <img class="profile"
                             src="https://sir.kr/img/common/dow/ico2-dw06.svg">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;font-size: 14px">
                            solb_climb_account
                        </div>
                        <div style="color: gray;font-size: 14px">
                            나랑 같이 치킨 먹음
                        </div>
                    </div>
                </div>
    
                <div>
                    <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row">
                    <div class="box" style="width: 35px; height: 35px">
                        <img class="profile"
                             src="https://sir.kr/img/common/dow/ico2-dw06.svg">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;font-size: 14px">
                            solb_climb_account
                        </div>
                        <div style="color: gray;font-size: 14px">
                            나랑 같이 치킨 먹음
                        </div>
                    </div>
                </div>
    
                <div>
                    <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row">
                    <div class="box" style="width: 35px; height: 35px">
                        <img class="profile"
                             src="https://sir.kr/img/common/dow/ico2-dw06.svg">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;font-size: 14px">
                            solb_climb_account
                        </div>
                        <div style="color: gray;font-size: 14px">
                            나랑 같이 치킨 먹음
                        </div>
                    </div>
                </div>
    
                <div>
                    <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row">
                    <div class="box" style="width: 35px; height: 35px">
                        <img class="profile"
                             src="https://sir.kr/img/common/dow/ico2-dw06.svg">
                    </div>
                    <div style="margin-left: 10px; text-align: left">
                        <div style="font-weight: bold;font-size: 14px">
                            solb_climb_account
                        </div>
                        <div style="color: gray;font-size: 14px">
                            나랑 같이 치킨 먹음
                        </div>
                    </div>
                </div>
    
                <div>
                    <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
                </div>
            </div>
            <div style="margin-top: 50px;font-size: 12px;color: gray;text-align: left;">소개 도움말 홍보센터 API<br>개인정보처리방침 약관 위치 인기 계정 해시태그 언어</div>
            <div style="margin-top: 20px;font-size: 12px;color: gray;text-align: left;">2021 어쩌구 저쩌구 저쩌구</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>